@font-face {
	font-family: 'Knowledge-Light';
	src: url('/assets/fonts/Knowledge-Light.eot');
	src: 
		local('☺'), 
		url('/assets/fonts/Knowledge-Light.woff') format('woff'), 
		url('/assets/fonts/Knowledge-Light.ttf') format('truetype'), 
		url('/assets/fonts/Knowledge-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Knowledge-Medium';
	src: url('/assets/fonts/Knowledge-Medium.eot');
	src: 
		local('☺'), 
		url('/assets/fonts/Knowledge-Medium.woff') format('woff'), 
		url('/assets/fonts/Knowledge-Medium.ttf') format('truetype'), 
		url('/assets/fonts/Knowledge-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "tagmazing";
  src:url('/assets/fonts/tagmazing.eot');
  src:url('/assets/fonts/tagmazing.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/tagmazing.woff') format('woff'),
    url('/assets/fonts/tagmazing.ttf') format('truetype'),
    url('/assets/fonts/tagmazing.svg#tagmazing') format('svg');
  font-weight: normal;
  font-style: normal;

}


@import '../scss/bootstrap';
@import '../scss/breakpoint';
@import '../scss/tagmazing';

/**
 * App-wide Styles
 */

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
// endinjector