<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-hide="data">
  <div class="row">
    <div class="col-sm-12">

      <div id="upload-zone" ng-file-drop-available="dropSupported=true">
        <div class="drop-zone" ng-file-drop="onFileSelect($files)" ng-mode="selectedFiles" ng-file-drag-over-class="file-over">
          <div ng-file-select="onFileSelect($files)" accept="image/jpeg" ng-mode="selectedFiles">
            <div class="text-center">
              <div>
                <strong ng-show="dropSupported">GRAG OR</strong> <strong>CLICK</strong>
              </div>
              <div>TO UPLOAD PICTURE</div>
            </div>
          </div>
        </div>
        <input type="text" class="url-zone" placeholder="or paste url here">

        <!-- <input type="text" ng-model="myModelObj">
        <input type="file" ng-file-select="onFileSelect($files)" accept="image/*"> -->
        <!-- <div class="button" ng-file-select="onFileSelect($files)" accept="image/*"></div> -->
        
        
        <!-- <button ng-click="upload.abort()">Cancel Upload</button> -->

      </div>
      <div ng-if="error" class="error">
        Error
      </div>

      <!-- todo: show progress -->
      <!-- todo: hide upload zone on upload start and show progress and cancel -->
    </div>
  </div>
</div>

<div class="container" ng-if="data" bindonce>
  <div class="row">
    <div class="col-sm-12">
      todo: image here
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"><h3>File</h3></div>
    <div class="col-sm-8">
      <p bo-text="data.file.filename"></p>
      <p><span bo-text="data.resolution.x"></span>&nbsp;x&nbsp;<span bo-text="data.resolution.y"></span> <span bo-text="data.file.extension"></span> (<span bo-text="Math.floor(data.resolution.x*data.resolution.y/1000)"></span>&nbsp;megapixels)</p>          
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4"><h3>Camera</h3></div>
    <div class="col-sm-8">
      <p><span bo-text="data.camera.make"></span> <span bo-text="data.camera.model"></span></p>
      <p><span bo-text="data.camera.exposureMode"></span>, Program&nbsp;<span bo-text="data.camera.exposureProgram"></span>, <span bo-text="data.camera.exposureTime"></span>&nbsp;sec, f/<span bo-text="data.camera.fNumber"></span></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"><h3>Date</h3></div>
    <div class="col-sm-8">
      <p><span bo-text="data.date.original"></span></p>
      <p>todo: time ago</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8"></div>
  </div>

  <div class="row">
    <div class="col-sm-4"><h3>Location</h3></div>
    <div class="col-sm-8">
      <p>todo: geocoding </p>
      <p><span bo-text="data.location.dms.lat"></span>, <span bo-text="data.location.dms.lng"></span></p>
      <p><span bo-text="data.location.ddd.lat"></span>, <span bo-text="data.location.ddd.lng"></span></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      todo: map here
    </div>
  </div>
</div>
