.page-wrap { border: 3px solid transparent; }

.page-wrap.image-over { border: 3px solid #3c763c; background-color: #b6ffd8; }
.page-wrap.err-over { border: 3px solid #a73b3d; background-color: #ffaaa1; }

.page-wrap .drop-it-msg { display: none; }
.page-wrap.image-over .click-zone, .page-wrap.image-over .url-zone { display: none; }
.page-wrap.image-over .drop-it-msg { display: block; }


.hero-unit {
  padding: 30px 15px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.wrap-zone {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  padding-top: 50px;
}

.wrap-zone .click-zone {
  cursor: pointer;
  width: 100%;
  height: 80%;
}

.wrap-zone [ng-file-select] {
  width: 100%;
  height: 100%;
}

.wrap-zone .url-zone {
  width: 100%;
  height: 20%;
}

.wrap-zone .url-zone input {
  width: 100%;
  height: 100%;
  text-align: center;
}

#map {
  height: 420px;
  width: 100%;
}

footer {
  margin-top: 100px;
}
