// Sticky footer
* {
  margin: 0;
}
html, body, [ui-view], .page-wrap {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  padding-bottom: 36px;
  @include fix-3d();
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  /* .push must be the same height as footer */
  position: relative;
  z-index: 30;
  text-align: center;
  @include translate3d(0, -36px, 0);
}
footer p {
  margin: 0;
}

h1 {
  background:transparent url('/assets/images/logo.svg') left top no-repeat;
  margin: 0 auto 17px;
  overflow: hidden;
  @include size(125px, 21px);
  @include hide-text();
}
.v-center {
  margin: 120px auto 0;
  padding: 50px 0 0;
  @include breakpoint($tall) {
    margin-top: 0;
    @include vertical-align();
  }
}
.container > .info:first-child {
  padding-top: 75px;
}
.page-wrap { 
  text-align: center;
  border: 3px solid #fff;
  @include transition(0.3s ease-in-out all);
  &.image-over { 
    border-color:$brand-success;
    background: #f2fbf5;
  }
  &.err-over { 
    border-color:$brand-danger; 
    background: #ffaaa1;
  }
}

.page-wrap .drop-it-msg { display: none; }
.page-wrap.image-over {
  .click-zone, 
  .url-zone { display: none; }
  .drop-it-msg { display: block; }
}

// Header
header {
  padding: 88px 0 0;
  position: relative;
  z-index: 20;
  .btn-back {
    position: absolute;
    left: 0;
    top: 20px;
  }
  &.slim {
    padding-top: 32px;
  }
}
.btn-back, .btn-info {
  i {color: $text-color}
}

// Drop zone
.wrap-zone {
  width: 365px;
  .click-zone {
    padding: 25px 0;
    cursor: pointer;
    letter-spacing: -0.06em;
  }
  [ng-file-select] {}
  .url-zone {
    margin-top: 10px;
    input {
      text-align: center;
      font-size: $font-size-small;
      font-family: 'Knowledge-Medium';
      height: 45px;
    }
  }

}

// Info page
.info {
  margin: $line-height-computed 0;
  p {margin: 0;}
  img {
    margin: $line-height-computed/2 0;
  }
}

#map {
  margin: $line-height-computed/2 0;
  height: 420px;
  width: 100%;
}