.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}


#upload-zone {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: #dfdfdf;
    padding-top: 50px;
}

#upload-zone .drop-zone {
    width: 100%;
    height: 80%;
}

#upload-zone [ng-file-select] {
    width: 100%;
    height: 100%;
}

#upload-zone .url-zone {
    width: 100%;
    height: 20%;
}

#upload-zone .url-zone input {
    width: 100%;
    height: 100%;
    text-align: center;
}

.drop-zone.image-over {
  border: 1px solid green;
}
.drop-zone.err-over {
  border: 1px solid red;
}